{%- if release.name %}
# {{ release.name }}
{%- endif -%}
{%- if categorizedPullRequests and categorizedPullRequests.categories %}
{%- for category in categorizedPullRequests.categories %}
{%- if category.pullRequests and category.pullRequests | length > 0 %}

## {{ category.title }}

{% for pr in category.pullRequests -%}
* {{ pr.title }} by @{{ pr.author.login }} in #{{ pr.number }}
{% endfor -%}
{%- endif -%}
{%- endfor -%}
{%- else %}

## What's Changed

{% for pr in mergedPullRequests -%}
* {{ pr.title }} by @{{ pr.author.login }} in #{{ pr.number }}
{% endfor -%}
{%- endif -%}
{%- if newContributors and newContributors | length > 0 %}

## New Contributors
{% for contributor in newContributors -%}
* @{{ contributor.login }} made their first contribution in #{{ contributor.firstPullRequest.number }}
{% endfor -%}
{%- endif %}

**Full Changelog**: {{ fullChangelogLink }}
