## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}
### {{ category.title }}
{%- for pr in category.pullRequests %}
- {{ pr.title }} by @{{ pr.author.login }} in {{ pr.url }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- if newContributors | length > 0 %}

## New Contributors
{%- for contributor in newContributors %}
- @{{ contributor.login }} made their first contribution in {{ contributor.firstPullRequest.url }}
{%- endfor %}
{%- endif %}
{%- if contributors | length > 0 %}

## Contributors

<table>
  <tbody>
    <tr>
{%- for contributor in contributors %}
      <td align="center" valign="top" width="12.5%">
        <a href="{{ contributor.url }}">
          <img src="https://wsrv.nl/?url={{ contributor.avatarUrl }}&w=64&h=64&mask=circle&fit=cover&maxage=1w" width="64px" alt="{{ contributor.login }}"/><br />
        </a>
        <sub>@{{ contributor.login }}</sub>
        {%- if contributor.sponsorsListing %}
        <br>
        <a href="{{ contributor.sponsorsListing.url }}" title="Sponsor {{ contributor.login }}">
          <img src="https://img.shields.io/badge/sponsor-30363D?style=for-the-badge&logo=githubsponsors&logoColor=EA4AAA" height="24" />
        </a>
        {%- endif %}
      </td>
{%- if loop.index % 8 == 0 and not loop.last %}
    </tr>
    <tr>
{%- endif %}
{%- endfor %}
    </tr>
  </tbody>
</table>
{%- endif %}

**Full Changelog**: {{ fullChangelogLink }}
