## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}
<details>
<summary>{{ category.title }} ({{ category.pullRequests | length }})</summary>

{%- for pr in category.pullRequests %}
- {{ pr.title }} by @{{ pr.author.login }} in {{ pr.url }}
{%- endfor %}

</details>
{%- else %}
### {{ category.title }}
{%- for pr in category.pullRequests %}
- {{ pr.title }} by @{{ pr.author.login }} in {{ pr.url }}
{%- endfor %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- if newContributors | length > 0 %}

## New Contributors
{%- for contributor in newContributors %}
- @{{ contributor.login }} made their first contribution in {{ contributor.firstPullRequest.url }}
{%- endfor %}
{%- endif %}

**Full Changelog**: {{ fullChangelogLink }}
