## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}
### {{ category.title }}
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}

<details>
<summary>Show all {{ category.pullRequests | length }} items</summary>

{% for pr in category.pullRequests %}
- {{ pr.title }} by @{{ pr.author.login }} in {{ pr.url }}
{%- endfor %}

</details>
{%- else %}
{%- for pr in category.pullRequests %}
- {{ pr.title }} by @{{ pr.author.login }} in {{ pr.url }}
{%- endfor %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- if newContributors | length > 0 %}

## New Contributors
{%- for contributor in newContributors %}
- @{{ contributor.login }} made their first contribution in {{ contributor.firstPullRequest.url }}
{%- endfor %}
{%- endif %}
{%- if contributors | length > 0 %}

## Contributors

<table>
  <tbody>
    <tr>
{%- for contributor in contributors %}
      <td align="center" valign="top" width="100">
        <a href="{{ contributor.url }}">
          <img src="https://wsrv.nl/?url={{ contributor.avatarUrl }}&w=64&h=64&mask=circle&fit=cover&maxage=1w" width="64px" alt="{{ contributor.login }}"/><br />
        </a>
        <sub>@{{ contributor.login }}{% if contributor.type == 'Bot' %}[bot]{% endif %}</sub>
        {%- if contributor.sponsorsListing %}
        <br><br>
        <a href="{{ contributor.sponsorsListing.url }}" title="Sponsor {{ contributor.login }}">
          <img src="https://img.shields.io/badge/-Sponsor-ea4aaa?style=for-the-badge&logo=github&logoColor=white" height="24" />
        </a>
        {%- endif %}
      </td>
{%- if loop.index % 6 == 0 and not loop.last %}
    </tr>
    <tr>
{%- endif %}
{%- endfor %}
    </tr>
  </tbody>
</table>
{%- endif %}

**Full Changelog**: {{ fullChangelogLink }}
