## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}

### {{ category.title }}
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}

<details>
<summary>Show all {{ category.pullRequests | length }} items</summary>
{%- endif %}

<table>
  <thead>
    <tr>
      <th>#</th>
      <th width="600">Title</th>
      <th>:octocat:</th>
      <th width="180">Author</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
{%- for n in category.pullRequests %}
{%- set pr = pullRequests[n|string] %}
    <tr>
      <td align="center"><a href="{{ pr.url }}">#{{ pr.number }}</a></td>
      <td>{{ pr.title }}</td>
      <td align="center">
        <a href="{{ pr.author.url }}"><img src="https://wsrv.nl/?url={{ pr.author.avatarUrl }}&w=20&h=20&mask=circle&fit=cover&maxage=1w" width="20" height="20" alt="{{ pr.author.login }}"/></a>
      </td>
      <td align="center">
        @{{ pr.author.login }}{% if pr.author.type == 'Bot' %}[bot]{% endif %}
      </td>
      <td align="center">
        $\textsf{\color{ #3fb950}{\textsf{+{{ pr.additions }}}}\color{ #f85149}{\textsf{ -{{ pr.deletions }}}}}$
      </td>
    </tr>
{%- endfor %}
  </tbody>
</table>
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}

</details>
{%- endif %}
{%- endif %}
{%- endfor %}

{%- if contributors | length > 0 %}

## Contributors

<table>
  <tbody>
    <tr>
{%- for contributor in contributors %}
      <td align="center" valign="top" width="100">
        <a href="{{ contributor.url }}">
          <img src="https://wsrv.nl/?url={{ contributor.avatarUrl }}&w=64&h=64&mask=circle&fit=cover&maxage=1w" width="64px" alt="{{ contributor.login }}"/><br />
        </a>
        <sub>@{{ contributor.login }}{% if contributor.type == 'Bot' %}[bot]{% endif %}</sub>
        {%- if contributor.sponsorsListing %}
        <br><br>
        <a href="{{ contributor.sponsorsListing.url }}" title="Sponsor {{ contributor.login }}">
          <img src="https://img.shields.io/badge/-Sponsor-ea4aaa?style=for-the-badge&logo=github&logoColor=white" height="24" />
        </a>
        {%- endif %}
      </td>
{%- if loop.index % 6 == 0 and not loop.last %}
    </tr>
    <tr>
{%- endif %}
{%- endfor %}
    </tr>
  </tbody>
</table>
{%- endif %}

**Full Changelog**: {{ fullChangelogLink }}
