## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}

### {{ category.title }}
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}

<details>
<summary>Show all {{ category.pullRequests | length }} items</summary>
{%- endif %}

<table width="100%">
<thead>
<tr>
<th>#</th>
<th width="500">Title</th>
<th>:octocat:</th>
<th width="150">Author</th>
</tr>
</thead>
<tbody>
{%- for pr in category.pullRequests %}
<tr>
<td align="center"><a href="{{ pr.url }}">#{{ pr.number }}</a></td>
<td>{{ pr.title }}</td>
<td align="center">
<a href="{{ pr.author.url }}"><img src="https://wsrv.nl/?url={{ pr.author.avatarUrl }}&w=20&h=20&mask=circle&fit=cover&maxage=1w" width="20" height="20" alt="{{ pr.author.login }}"/></a>
</td>
<td>
@{{ pr.author.login }}
{%- if pr.author.sponsorsListing %}
<a href="{{ pr.author.sponsorsListing.url }}">💖</a>
{%- endif %}
</td>
</tr>
{%- endfor %}
</tbody>
</table>
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}

</details>
{%- endif %}
{%- endif %}
{%- endfor %}

**Full Changelog**: {{ fullChangelogLink }}
