## What's Changed
{% for category in categorizedPullRequests.categories %}
{%- if category.pullRequests | length > 0 %}
{%- if category["collapse-after"] and category["collapse-after"] > 0 and category.pullRequests | length > category["collapse-after"] %}
<details>
<summary>{{ category.title }} ({{ category.pullRequests | length }})</summary>

<table width="100%">
<thead>
<tr>
<th width="80">PR</th>
<th>Title</th>
<th width="200">Author</th>
</tr>
</thead>
<tbody>
{%- for pr in category.pullRequests %}
<tr>
<td align="center"><a href="{{ pr.url }}">#{{ pr.number }}</a></td>
<td>{{ pr.title }}</td>
<td align="center">
<a href="{{ pr.author.url }}"><img src="https://wsrv.nl/?url={{ pr.author.avatarUrl }}&w=20&h=20&mask=circle&fit=cover&maxage=1w" width="20" height="20" alt="{{ pr.author.login }}" style="vertical-align: middle;"/></a>
<a href="{{ pr.author.url }}">@{{ pr.author.login }}</a>
{%- if pr.author.sponsorsListing %}
<a href="{{ pr.author.sponsorsListing.url }}"><img src="https://img.shields.io/badge/sponsor-30363D?style=flat&logo=githubsponsors&logoColor=EA4AAA" height="14" style="vertical-align: middle;"/></a>
{%- endif %}
</td>
</tr>
{%- endfor %}
</tbody>
</table>

</details>
{%- else %}
### {{ category.title }}

<table width="100%">
<thead>
<tr>
<th width="80">PR</th>
<th>Title</th>
<th width="200">Author</th>
</tr>
</thead>
<tbody>
{%- for pr in category.pullRequests %}
<tr>
<td align="center"><a href="{{ pr.url }}">#{{ pr.number }}</a></td>
<td>{{ pr.title }}</td>
<td align="center">
<a href="{{ pr.author.url }}"><img src="https://wsrv.nl/?url={{ pr.author.avatarUrl }}&w=20&h=20&mask=circle&fit=cover&maxage=1w" width="20" height="20" alt="{{ pr.author.login }}" style="vertical-align: middle;"/></a>
<a href="{{ pr.author.url }}">@{{ pr.author.login }}</a>
{%- if pr.author.sponsorsListing %}
<a href="{{ pr.author.sponsorsListing.url }}"><img src="https://img.shields.io/badge/sponsor-30363D?style=flat&logo=githubsponsors&logoColor=EA4AAA" height="14" style="vertical-align: middle;"/></a>
{%- endif %}
</td>
</tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}
{%- endif %}
{%- endfor %}

**Full Changelog**: {{ fullChangelogLink }}
